* {
	margin: 0 0 0 0;
	border: 0 0 0 0;
}

body {
	background: linear-gradient(to top left, #431861,  #6CDBD7);
}

@font-face {
    font-family: "absalom";
    src: url('fonts/absalom.ttf') format('truetype');
}
@font-face {
    font-family: "andale mono";
    src: url('fonts/andale mono.ttf') format('truetype');
}
@font-face {
    font-family: "blade runner";
    src: url('fonts/blade runner.ttf') format('truetype');
}
@font-face {
    font-family: "comic sans";
    src: url('fonts/comic sans.ttf') format('truetype');
}
@font-face {
    font-family: "cmu serif roman";
    src: url('fonts/cmu serif roman.ttf') format('truetype');
}
@font-face {
    font-family: "delius swash";
    src: url('fonts/delius swash.ttf') format('truetype');
}
@font-face {
    font-family: "galeforce";
    src: url('fonts/galeforce.ttf') format('truetype');
}
@font-face {
    font-family: "nasalization";
    src: url('fonts/nasalization.otf') format('opentype');
}
@font-face {
    font-family: "nightclub";
    src: url('fonts/nightclub.ttf') format('truetype');
}
@font-face {
    font-family: "webdings";
    src: url('fonts/webdings.ttf') format('truetype');
}
@font-face {
    font-family: "wingdings";
    src: url('fonts/wingdings.ttf') format('truetype');
}
@font-face {
    font-family: "papyrus";
    src: url('fonts/papyrus.ttf') format('truetype');
}
@font-face {
    font-family: "zelda dx";
    src: url('fonts/zelda dx.ttf') format('truetype');
}

#inner_wrapper {
	/*
	background: green;
	*/
	height: 1060px;
	margin-top: 7;
        margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 12px;
	display: flex;
}

#amarec {
	width: 1413px;
	height: 1060px;
	background: blue;
	font-size: 50px;
}

.flex_col {
	flex-direction: column;
}

#right_column {
	margin-left: 10px;
	display: flex;
	width: 410px;
	margin-bottom: 0px;
}

#right_box_1 {
	background-image: url('alttp_cover.jpg');
	background-size: cover;
	height: 345px;
}

#right_box_1_controller {
	background-image: url('alttp_cover.jpg');
	background-size: cover;
	height: 478px;
}

#right_box_1_billboard {
	background-image: url('alttp_cover.jpg');
	background-size: cover;
	height: 695px;
}

#right_box_2 {
	background: purple;
	margin-top: 10px;
	height: 296px;
}

#controller_box {
	background: purple;
	margin-top: 10px;
	height: 207;
	display: flex;
	align-items: center;
	justify-content: center;
}

#controller_box span {
	font-size: 31px;
	color: rgb(0, 0, 0);

}

#right_box_3 {
	background: #174A6D;
	margin-top: 10px;
	height: 347;
	border: 4px solid #454545;
	background: linear-gradient(to top left, #777782,  #444444);
    padding: 10px 10px 15px 10px;
    font-color: yellow;
}

#right_box_3_billboard {
	background: #174A6D;
	margin-top: 10px;
	height: 347px;
	border: 4px solid #454545;
	background: linear-gradient(to top left, #585858,  #383838);
    padding: 10px 10px 15px 10px;
    color: #ffdeee;
    position: relative;
}

#user_message {
    font-style: italic;
    font-family: "andale mono";
}

#user_message.short_message {
    font-size: 30px;
}

#user_message.medium_message {
    font-size: 25px;
}

#user_message.long_message {
    font-size: 20px;
}

#user_message_wrapper {
    overflow: hidden;
    height: 285px;
}

#user_name_wrapper {
    position: absolute;
    right: 10px;
    bottom: 10px;
    float:right;
    font-family: Papyrus;
    /* font-style: italic;*/
}

#paid_for {
    font-size: 15px;
}

#user_name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.gol_container {
	background: white;
	display: flex;
	height: 100%;
}

.gol_container .row {
	flex: auto;
	display: flex;
}


.gol_container .cell {
	flex: auto;
	border: 1px solid black;
	background: white;
}

.gol_container .cell.alive {
	background: black;
}

.gol_container .cell.dead {
	background: white;
}

#name {
	width: 53px;
	display: flex;
	/*
	height: 40px;
	margin-top: 0px;

	margin-bottom: 5px;
	/*/

	margin-left: 7px;
	margin-right: 7px;
	align-items: center;
	justify-content: center;
}

#name_wrapper {
	position: center;
}

#name_wrapper div {
	font-size: 47px;
	color: rgb(0, 0, 0);
	margin-top: 50px;
	font-family: comic sans;
    font-family: cmu serif roman;
}

#controller_box .msg {
	display: none;
}

#controller_box .msg.active {
	display: block;
	margin: 10 10 10 10;
}

#tutorial_box {
	background: grey;
	margin-top: 10px;
	height: 688px;
	display: flex;
	align-items: center;
	justify-content: center;
}

