* {
	margin: 0 0 0 0;
	border: 0 0 0 0;
}

body {
	background: linear-gradient(to top left, #431861,  #6CDBD7);
}

#inner_wrapper {
	/*
	background: green;
	*/
	height: 975px;
	margin-top: 0;
        margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 52px;
	display: flex;
}

#amarec {
	width: 1400;
	height: 975;
	background: blue;
	font-size: 100px;
}

#right_column {
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	width: 395px;
}

#right_box_1 {
	background-image: url('alttp_cover.jpg');
	background-size: cover;
	height: 345px;
}

#right_box_2 {
	background: purple;
	margin-top: 25px;
	height: 296px;
}

#right_box_3 {
	background: #174A6D;
	margin-top: 25px;
	height: 277;
	border: 4px solid #454545;
	background: linear-gradient(to top left, #777782,  #444444);
}


#name {
	display: flex;
	width: 1920;
	height: 40px;
	margin-top: 7px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;
	align-items: center;
	justify-content: center;
}

#name_wrapper {
	position: center;
}

#name_wrapper span {
	font-size: 40px;
	color: rgb(0, 0, 0);
}
